
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#main {
  width: 100%;
  height: 600px;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
#main .container {
  padding-top: 72px;
}
#main h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#main h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#main p {
  color: rgba(255, 255, 255, 0.6);

}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#trabajo {
  width: 100%;
  height: 600px;

}
#trabajo .container {
  padding-top: 50px;
}
#trabajo h1 {
  margin: 0 0 10px 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 56px;
  color: #1E215B;
}
#trabajo h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#trabajo p {
  color: #1E215B;

}

/*--------------------------------------------------------------
# clientes Section
--------------------------------------------------------------*/
#clientes {
  width: 100%;
  height: 3100px;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
#clientes .container {
  padding-top: 50px;
}
#clientes h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#clientes h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#clientes p {
  color: rgba(255, 255, 255, 0.6);

}



/*--------------------------------------------------------------
# contact Section
--------------------------------------------------------------*/
#contact {
  width: 100%;
  height: 800px;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
#contact .container {
  padding-top: 80px;
}
#contact h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#contact h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#contact p {
  color: rgba(255, 255, 255, 0.6);

}
/*--------------------------------------------------------------
# empleo Section
--------------------------------------------------------------*/
#empleo {
  width: 100%;
  height: 800px;
  background-image: url("https://www.inditexcareers.com/portalweb/documents/10769/242900276/store-parallax-card1b/02fb46aa-d903-0c75-9afd-101b0fcbcdf2");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#empleo .container {
  padding-top: 80px;
}
#empleo h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#empleo h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#empleo p {
  color: rgba(255, 255, 255, 0.6);

}

#cv {
  width: 100%;
  height: 600px;
background: rgb(87,87,87);
background: linear-gradient(-90deg, rgba(87,87,87,1) 0%, rgba(31,35,39,1) 100%);

}
#cv .container {
  padding-top: 10px;
}
#cv h1 {
  margin: 0 0 10px 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#cv h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#cv p {
  color: #fff;

}

#cuentas {
  width: 100%;
  height: 2100px;
    padding-top: 40px;
background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
#cuentas .container {
  padding-top: 100px;
}
#cuentas h1 {
  margin: 0 0 10px 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#cuentas h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#cuentas p {
  color: #fff;

}




/*--------------------------------------------------------------
# contact Section
--------------------------------------------------------------*/
#tiempo {
  width: 100%;
  height: 800px;
  background: linear-gradient(180deg, #148CFF 0%, #0BCEFF 100%);
}
#tiempo .container {
  padding-top: 80px;
}
#tiempo h1 {
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#tiempo h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#tiempo p {
  padding-top: 10px;
}

#map {
  height: 40vh;
  width: 25hw;
}

.video {
flex-grow: 1; border: none; margin: 0; padding: 0; }
.row-container {display: flex; width: 100%; height: 100%; flex-direction: column; overflow: hidden;}
body, html {width: 100%; height: 100%; margin: 0; padding: 0}

