
/*--------------------------------------------------------------
# contact Section
--------------------------------------------------------------*/
#tiempo {
  width: 100%;
  height: 800px;
  background: linear-gradient(180deg, #148CFF 0%, #0BCEFF 100%);
}
#tiempo .container {
  padding-top: 80px;
}
#tiempo h1 {
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#tiempo h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#tiempo p {
  padding-top: 10px;
}

#map {
  height: 40vh;
  width: 25hw;
}